[submodule "ChatApi"]
	path = ChatApi
	url = https://github.com/zipepic/ChatApi
	branch = main

[submodule "GoogleOAuthServer"]
	path = GoogleOAuthServer
	url = https://github.com/zipepic/GoogleOAuthServer
    branch = main

[submodule "ShortGenServer"]
	path = ShortGenServer
	url = https://github.com/zipepic/ShortGenServer
    branch = main

[submodule "ShortUploader"]
	path = ShortUploader
	url = https://github.com/zipepic/ShortUploader
    branch = main