[submodule "ChatApi"]
	path = ChatApi
	url = https://github.com/zipepic/ChatApi
	branch = main

[submodule "GoogleOAuthServer"]
	path = GoogleOAuthServer
	url = https://github.com/zipepic/GoogleOAuthServer
    branch = main